@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');

:root {
  --crow-feathers: #1c2321;
  --sproud: #eef1ef;
  --angry-clouds: #b2bfc2;
  --grålera: #909da1;
  --midnight-sand: #6f7f88;
  --cornflower: #668cff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--angry-clouds);
}

body {
  color: #404040;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  color: rgba(0, 0, 0 1);
}

h2 {
  color: rgba(0, 0, 0, 0.9);
}

h3 {
  margin-top: 0;
}

@media (min-width: 640px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 640px) {
  .desktop {
    display: none;
  }
}
