@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400&display=swap');

:root {
  --crow-feathers: #1c2321;
  --sproud: #eef1ef;
  --angry-clouds: #b2bfc2;
  --grålera: #909da1;
  --midnight-sand: #6f7f88;
  --cornflower: #668cff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--grålera);
}

body {
  color: var(--crow-feathers);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-size: 2em;
  color: var(--midnight-sand);
}

h2 {
  font-size: 1.8em;
  color: var(--midnight-sand);
}

h3 {
  font-size: 1.6em;
  margin-top: 0;
}

h4 {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
  color: var(--crow-feathers);
  font-weight: 100;
}

p {
  font-weight: 300;
}

@media (min-width: 640px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 640px) {
  .desktop {
    display: none;
  }
}
